docker/auth.env
docker/api-gateway.env
docker/files.env
docker/mock-event-publisher.env
docker/syncing-server-js.env
docker/workspace.env
docker/revisions.env

**/.pnp.*
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache
