LOG_LEVEL="debug"
NODE_ENV="production"
VERSION="snjs-test"

PORT=3000

DB_HOST="db"
DB_REPLICA_HOST="db"
DB_PORT=3306
DB_DATABASE="testdb"
DB_USERNAME="testuser"
DB_PASSWORD="testpassword"
DB_DEBUG_LEVEL="all"
DB_MIGRATIONS_PATH="dist/migrations/*.js"

REDIS_URL="redis://cache:6379"
REDIS_EVENTS_CHANNEL="event-store-events"

NEW_RELIC_ENABLED=false

SQS_QUEUE_URL="http://localstack:4566/000000000000/event-store-local-queue"
SQS_AWS_REGION="us-east-1"
SQS_ACCESS_KEY_ID="x"
SQS_SECRET_ACCESS_KEY="x"

AWS_SDK_LOAD_CONFIG=1
