LOG_LEVEL="debug"
NODE_ENV="production"
VERSION="snjs-test"

AUTH_JWT_SECRET="change-me-!"

WEB_SOCKET_CONNECTION_TOKEN_SECRET="change-me-!"
WEB_SOCKET_CONNECTION_TOKEN_TTL=60

PORT=3000

REDIS_URL="redis://cache:6379"
REDIS_EVENTS_CHANNEL="websockets-events"

NEW_RELIC_ENABLED=false
